<!DOCTYPE html>
<html>
  <head>
    <title>Hello boy</title>
  </head>
  <body>
      <div>{{uc .}}</div>
      <div>{{lc .}}</div>
      <div>{{. | ft | uc}}</div>
      {{template "polarbear"}}
  </body>
</html>