<!DOCTYPE html>
<html>
  <head>
    <title>Hello boy</title>
  </head>
  <body>
    {{ $person := . }}
    <h1>Person: {{$person}}</h1>
    <p>
      Dear {{$person}},
      Welcome to your next misson.
      n: {{$person}}
    </p>
  </body>
</html>